<app-sourcing-header></app-sourcing-header>
<app-sourcing-footer></app-sourcing-footer>
<br><br><br>
<div class="container">
    <label>Pending Customer PO list</label>
    <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
        <thead>
            <tr>
                <th></th> 
                    <th>Customer Name</th>
                    <th>Customer contact person</th>
                    <th>Customer po no</th>
                    <th>Delivery date</th>  
            </tr>
        </thead>
        <tr *ngFor="let data of  pendinglist">          
            <td>
                <a href="sourcing/sourcing-po/{{data.id}}/sourcing-cpo-pending-details"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
            </td>              
            <td>{{data.customer.name}}</td>
            <td>{{data.customer_contact_person.name}}</td>
            <td>{{data.customer_po_no}}</td>
            <td>{{data.delivery_date}}</td>
        </tr> 
    </table>
</div>