<br>
<br>
 <h2> Vendor Po Approval List </h2>
   <div class="col-md-offset-0 col-md-12">
     <div class="panel panel-default">
         <div class="panel-heading text-center"> Vendor Po Approval List</div>
                 <div class="panel-body">
                     <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                     </div>
                 </div>
                <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                   <thead>
                     <tr>
                        <th></th>
                        <th>Po Number</th>
                        <th>PO DATE</th>
                        <th>Vendor Name</th>
                        <th>Vendor Contact Person</th>
                        <th>Location</th>
                       </tr >
                                         
                     <tr  *ngFor="let data of poapprovallist">
                          <td>
                              <a href="sales/sales-po/vpo-approval/:cpo_id/:vend_id/vpo-approval-details" ><span class="glyphicon glyphicon-forward" style="color: blue"></span> </a>          <!--sales/sales-po/vpo-approval/vpo-approval-details-->
                             </td>
                        
                              <td>{{data.po_number}}</td>
                              <td>{{data.po_date}}</td>
                              <td>{{data.vpo.vendor.name}}</td>
                              <td>{{data.vpo.vendor_contact_person.id}}</td>
                              <td>{{data.vpo.vendor.location}}</td>                                              
                            
                              
                    
                         </tr>                         
                   </thead>
               </table> <br>
       </div>
   </div>
   <app-sales-header></app-sales-header>
   <app-sales-footer></app-sales-footer>
