<br><br><br><hr>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Quotation Selection List</div>
             <div class="panel-body">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                  </div><br><br>
            <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
              <thead><!--table header-->
                  <tr>
                     <th></th>
                     <th>Quotation no</th>         
                     <th>Quotation date</th>
                     <th>RFP Customer contact Name</th>
                     <th>RFP NO</th>
                     <th>enquiry reference</th>  
                     <th></th>          
                    
                 </tr >
              </thead>
                 <tr *ngFor="let data of  quotationselectionlist|quotationSearch:query">
                      <td><span class="glyphicon glyphicon-forward" style="color: blue"></span>
                        <input type="checkbox" name="{{data.quotation_no}}" id="{{data.quotation_no}}" (change)="checkQuotationitem($event,this.name)"/>
                     </td>
                     
                      <td>{{data.quotation_no}}</td>
                      <td>{{data.quotation_date}}</td>
                      <td>{{data.rfp.customer_contact_person.name}}</td>
                      <td>{{data.rfp.rfp_no}}</td>
                      <td>{{data.enquiry_reference}}</td>
                      <td>
                        <a href="crm/po-entry/{{data.quotation_no}}/quotation-selection-details" target="_blank" data-toggle="tooltip" title="Details"><span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                    </td>   
                  </tr>
                 
            
         </table> <br>
         <button type="button" class="btn btn-danger" (click)=" dragid(event)" style="float:right">Proceed &nbsp;<span class="glyphicon glyphicon-forward"></span></button><br><br>
      
          </div>
        </div>
    
      
      <app-crm-footer></app-crm-footer>
      <app-crm-header></app-crm-header>